<header>
  <h3>Simple Airbnb</h3>
  <button></button>
</header>

<h1> <%=  @flat.name  %></h1>
<h4> <%= @flat.address %> </h4>

<h3> A bit more about this flat... </h3>
<p> <%= @flat.description %> </p>
